<div class="">
    <h1 class="text-7xl font-bold m-10 text-center">
        Meribas lanceert op 01/10/2022.
    </h1>
    <h1 class="text-7xl font-bold m-10 text-center text-indigo-600">
        Jawel, tot zaterdag.
    </h1>
</div>