<div class="relative overflow-hidden bg-amber-50">

  <div class="relative pb-10 sm:pb-20">

    <main class="mx-auto mt-16 max-w-7xl px-4 sm:mt-10">
      <div class="text-center">
        <h1 class="text-5xl font-bold tracking-tight text-gray-900 sm:text-5xl md:text-7xl">
          <span class="block xl:inline">Waarvoor kan Meribas gebruikt worden?</span>
        </h1>
        <p class="mx-auto mt-3 max-w-md text-base text-grey-900 sm:text-lg md:mt-5 md:max-w-3xl md:text-xl">We helpen bedrijven te zien hoe kandidaten werkgerelateerde taken uitvoeren, zodat ze wervingsbeslissingen kunnen nemen op basis van prestaties. Meribas is inzetbaar voor elke vacature, voor elk bedrijf en in elke sector.</p>
        <div class="mx-auto mt-5 max-w-md sm:flex sm:justify-center md:mt-8">
          <div class="rounded-md shadow">
            <a href="https://s6q6ifh51pn.typeform.com/to/IwbyqeOF" class="flex w-full items-center justify-center rounded-md border border-transparent bg-gradient-to-r from-amber-800 to-amber-700 px-8 py-3 text-base font-medium text-white hover:bg-indigo-700 md:py-4 md:px-10 md:text-xl">Starten</a>
          </div>
          <div class="mt-3 rounded-md shadow sm:mt-0 sm:ml-3">
            <a href="https://s6q6ifh51pn.typeform.com/to/ZbuEqxHg" class="flex w-full items-center justify-center rounded-md border border-transparent bg-white px-8 py-3 text-base font-medium text-grey-900 hover:bg-gray-50 md:py-4 md:px-10 md:text-xl">Demo</a>
          </div>
        </div>
      </div>
                    <img class="mx-auto mt-5 max-w-xl text-xl text-gray-500" src="https://res.cloudinary.com/the-ruby-lab/image/upload/v1664975376/108.Increase_n79jd9.png" alt="App screenshot">
    </main>
  </div>
</div>


<div class="bg-amber-50">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 drop-shadow-lg">
    <div class="overflow-hidden rounded-lg bg-white shadow-xl lg:grid lg:grid-cols-2 lg:gap-4">
      <div class="px-6 pt-10 pb-12 sm:px-16 sm:pt-16 lg:py-16 lg:pr-0 xl:py-20 xl:px-20">
        <div class="lg:self-center">
          <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
            <span class="block">Identificeer de meest gemotiveerde afgestudeerden.</span>
          </h2>
          <p class="mt-4 text-lg leading-6 text-gray-900">Uw wervingsproces vanaf de schoolbanken verbeteren om efficiënter een weloverwogen wervingsbeslissing te nemen.</p>
          <a href="#" class="mt-8 inline-flex items-center rounded-md border border-transparent bg-gradient-to-r from-amber-800 to-amber-700 px-5 py-3 text-base font-medium text-white shadow">Starten</a>
        </div>
      </div>
      <div class="aspect-w-5 aspect-h-3 -mt-6 md:aspect-w-2 md:aspect-h-1">
        <img class="translate-x-6 translate-y-6 transform rounded-md object-cover object-left-top sm:translate-x-16 lg:translate-y-20" src="https://res.cloudinary.com/the-ruby-lab/image/upload/v1664975372/67.Going-to-school_jqzguj.png" alt="App screenshot">
      </div>
    </div>
  </div>
</div>

<div class="bg-amber-50">
  <div class="mx-auto max-w-7xl pt-10 px-4 sm:px-6 lg:px-8 drop-shadow-lg">
    <div class="overflow-hidden rounded-lg bg-white shadow-xl lg:grid lg:grid-cols-2 lg:gap-4">
      <div class="px-6 pt-10 pb-12 sm:px-16 sm:pt-16 lg:py-16 lg:pr-0 xl:py-20 xl:px-20">
        <div class="lg:self-center">
          <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
            <span class="block">Honderden kandidaten? Geen probleem.</span>
          </h2>
          <p class="mt-4 text-lg leading-6 text-gray-900">Sneller werven met een hoog volume om de juiste kandidaat voor elke vacature te vinden</p>
          <a href="#" class="mt-8 inline-flex items-center rounded-md border border-transparent bg-gradient-to-r from-amber-800 to-amber-700 px-5 py-3 text-base font-medium text-white shadow">Starten</a>
        </div>
      </div>
      <div class="aspect-w-5 aspect-h-3 -mt-6 md:aspect-w-2 md:aspect-h-1">
        <img class="translate-x-6 translate-y-6 transform rounded-md object-cover object-left-top sm:translate-x-16 lg:translate-y-20" src="https://res.cloudinary.com/the-ruby-lab/image/upload/v1664975382/170.Playing_nw78mr.png" alt="App screenshot">
      </div>
    </div>
  </div>
</div>

<div class="bg-amber-50">
  <div class="mx-auto max-w-7xl pt-10 px-4 sm:px-6 lg:px-8 drop-shadow-lg">
    <div class="overflow-hidden rounded-lg bg-white shadow-xl lg:grid lg:grid-cols-2 lg:gap-4">
      <div class="px-6 pt-10 pb-12 sm:px-16 sm:pt-16 lg:py-16 lg:pr-0 xl:py-20 xl:px-20">
        <div class="lg:self-center">
          <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
            <span class="block">Technische vacatures</span>
          </h2>
          <p class="mt-4 text-lg leading-6 text-gray-900">Jawel, ook kandidaten voor technische vacatures kunnen getest worden.</p>
          <a href="#" class="mt-8 inline-flex items-center rounded-md border border-transparent bg-gradient-to-r from-amber-800 to-amber-700 px-5 py-3 text-base font-medium text-white shadow">Starten</a>
        </div>
      </div>
      <div class="aspect-w-3 aspect-h-3 -mt-6 md:aspect-w-2 md:aspect-h-1">
        <img class="translate-x-6 translate-y-6 transform rounded-md object-cover object-left-top sm:translate-x-16 lg:translate-y-20" src="https://res.cloudinary.com/the-ruby-lab/image/upload/v1664975377/121.Building_opnmde.png" alt="App screenshot">
      </div>
    </div>
  </div>
</div>

<div class="bg-amber-50">
  <div class="mx-auto max-w-7xl pt-10 pb-10 px-4 sm:px-6 lg:px-8 drop-shadow-lg">
    <div class="overflow-hidden rounded-lg bg-white shadow-xl lg:grid lg:grid-cols-2 lg:gap-4">
      <div class="px-6 pt-10 pb-12 sm:px-16 sm:pt-16 lg:py-16 lg:pr-0 xl:py-20 xl:px-20">
        <div class="lg:self-center">
          <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
            <span class="block">Vanop afstand</span>
          </h2>
          <p class="mt-4 text-lg leading-6 text-gray-900">Meribas is ook gemaakt voor kandidaten die solliciteren voor thuiswerk functie.</p>
          <a href="#" class="mt-8 inline-flex items-center rounded-md border border-transparent bg-gradient-to-r from-amber-800 to-amber-700 px-5 py-3 text-base font-medium text-white shadow">Starten</a>
        </div>
      </div>
      <div class="aspect-w-5 aspect-h-3 -mt-6 md:aspect-w-2 md:aspect-h-1">
        <img class="translate-x-6 translate-y-6 transform rounded-md object-cover object-left-top sm:translate-x-16 lg:translate-y-20" src="https://res.cloudinary.com/the-ruby-lab/image/upload/v1664975374/89.People-finder_wegffl.png" alt="App screenshot">
      </div>
    </div>
  </div>
</div>