<div>
  <h1 class="font-bold text-4xl">Nl#hoe</h1>
  <p>Find me in app/views/nl/hoe.html.erb</p>
</div>

    <main class="mx-auto mt-16 max-w-7xl px-4 sm:mt-24">
      <div class="text-center">
        <h1 class="text-7xl font-bold tracking-tight text-gray-900 sm:text-5xl md:text-7xl">
          <span class="block xl:inline">Laat kandidaten eerst het werk doen, voordat ze het werk krijgen.</span>
        </h1>
        <p class="mx-auto mt-3 max-w-md text-base sm:text-lg md:mt-5 md:max-w-3xl md:text-2xl"><span class='font-bold'>Zonder Meribas:</span> Tijdverlies met CV's te screenen, pijnlijke en verkeerde aanwervingen, bevooroordeelde selectiekeuzes die onjuiste kandidaten aan boord trekken. <span class='font-bold'>Met Meribas:</span> Een glazen bol voor rekrutering, gedag zeggen tegen
onbewust vooroordeel, beslissingen nemen met vertrouwen gebaseerd op data.</p>
        <div class="mx-auto mt-5 max-w-md sm:flex sm:justify-center md:mt-8">
          <div class="rounded-md shadow">
            <a href="#" class="flex w-full items-center justify-center  border border-orange-500 bg-gray-600 px-8 py-3 text-xl font-bold text-white hover:bg-gray-700 hover:text-orange-400 md:py-4 md:px-10 md:text-2xl">Probeer Meribas</a>
          </div>
        </div>
      </div>
    </main>
