<main class="mx-auto max-w-7xl px-4">
  <div class="text-center">
  <h1 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-5xl md:text-6xl">
      <span class="block xl:inline">Laat kandidaten het werk doen, voordat ze het werk krijgen</span>
  </h1>
  <p class="mx-auto mt-3 max-w-md text-base text-gray-900 sm:text-lg md:mt-5 md:max-w-3xl md:text-xl">Meribas is in wezen alles wat u nodige hebt om juist te rekruteren - allemaal vereenvoudigd, verfijnd en geïntegreerd in een georganiseerd, gebruiksvriendelijk platform. Klik hieronder rond om te zien hoe het eruit ziet, hoe het werkt en hoe het u kan helpen.</p>
    <div class="mx-auto mt-5 max-w-md sm:flex sm:justify-center md:mt-8">
    </div>
  </div>
</main>
    
<div class="">
  <div class="mx-auto max-w-7xl px-4 pb-10 ">
    <div class="space-y-12">
      <div class="space-y-5 sm:space-y-4 md:max-w-xl lg:max-w-3xl xl:max-w-none">
      </div>
      <ul role="list" class="space-y-12 sm:grid sm:grid-cols-2 sm:gap-x-6 sm:gap-y-12 sm:space-y-0 lg:grid-cols-3 lg:gap-x-8">
        <li>
          <div class="space-y-4">
            <div class="aspect-w-3 aspect-h-2">
              <img class="rounded-lg object-cover shadow-lg" src="https://res.cloudinary.com/the-ruby-lab/image/upload/v1664975378/123.Website-builder_t5oxwx.png" alt="">
            </div>

            <div class="space-y-2">
              <div class="space-y-1 text-lg leading-6">
                <h3 class="font-semibold">Alles vanuit de homepagina</h3>
                <p class="text-amber-700">Recht voor de raap, dashboard met al de vacatures, testen en kandidaten.</p>
              </div>
            </div>
          </div>
        </li>
                <li>
          <div class="space-y-4">
            <div class="aspect-w-3 aspect-h-2">
              <img class="rounded-lg object-cover shadow-lg" src="https://res.cloudinary.com/the-ruby-lab/image/upload/v1664975382/173.Announcement_az3fan.png" alt="">
            </div>

            <div class="space-y-2">
              <div class="space-y-1 text-lg font-medium leading-6">
                <h3 class="font-semibold">Blijf up to date met meldingen</h3>
                <p class="text-amber-700">U krijgt een bericht wanneer de kandidaten testen voltooid.</p>
              </div>

            </div>
          </div>
        </li>
                <li>
          <div class="space-y-4">
            <div class="aspect-w-3 aspect-h-2">
              <img class="rounded-lg object-cover shadow-lg" src="https://res.cloudinary.com/the-ruby-lab/image/upload/v1664975381/166.Painting_yd3dxc.png" alt="">
            </div>

            <div class="space-y-2">
              <div class="space-y-1 text-lg font-medium leading-6">
                <h3 class="font-semibold">Maak uw eigen testen.</h3>
                <p class="text-amber-700">Voor uw vacature zijn er unieke testen, maak testen op maat van uw onderneming.</p>
              </div>

            </div>
          </div>
        </li>
        
        <div class="bg-white shadow-lg">
  <div class="mx-auto max-w-7xl py-12 px-4 text-center sm:px-6 lg:py-16 lg:px-8">
    <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
      <span class="block">Klaar om erin te duiken?</span>
      <span class="block">Start vandaag.</span>
    </h2>
    <div class="mt-8 flex justify-center">
      <div class="inline-flex rounded-md shadow">
        <a href="/nl/prijs" class="inline-flex items-center justify-center rounded-md border border-transparent bg-gradient-to-r from-amber-800 to-amber-700 px-5 py-3 text-base font-medium text-white hover:bg-indigo-700">Starten</a>
      </div>
    </div>
  </div>
</div>

        
        
        
        
                <li>
          <div class="space-y-4">
            <div class="aspect-w-3 aspect-h-2">
              <img class="rounded-lg object-cover shadow-lg" src="https://res.cloudinary.com/the-ruby-lab/image/upload/v1664975380/152.Study-Group_bfrkdd.png" alt="">
            </div>

            <div class="space-y-2">
              <div class="space-y-1 text-lg font-medium leading-6">
                <h3 class="font-semibold">Deel kandidaten met uw team</h3>
                <p class="text-amber-700">U kan kandidaten zelf beheren of samen beheren met uw collega's.</p>
              </div>

            </div>
          </div>
        </li>
                <li>
          <div class="space-y-4">
            <div class="aspect-w-3 aspect-h-2">
              <img class="rounded-lg object-cover shadow-lg" src="https://res.cloudinary.com/the-ruby-lab/image/upload/v1664975370/47.Inbox_ty0d39.png" alt="">
            </div>

            <div class="space-y-2">
              <div class="space-y-1 text-lg font-medium leading-6">
                <h3 class="font-semibold">Feedback naar kandidaten</h3>
                <p class="text-amber-700">Stuur gepersonaliseerde feedback naar de kandidaten die de test hebben afgenomen.</p>
              </div>

            </div>
          </div>
        </li>
                <li>
          <div class="space-y-4">
            <div class="aspect-w-3 aspect-h-2">
              <img class="rounded-lg object-cover shadow-lg" src="https://res.cloudinary.com/the-ruby-lab/image/upload/v1664975378/125.Calendar_vxpo8a.png" alt="">
            </div>

            <div class="space-y-2">
              <div class="space-y-1 text-lg font-medium leading-6">
                <h3 class="font-semibold">Plan testen in de agenda</h3>
                <p class="text-amber-700">De agenda laat u toe om testen te plannen voor de toekomst met een einddatum.</p>
              </div>

            </div>
          </div>
        </li>
                <div class="bg-white shadow-lg">
  <div class="mx-auto max-w-7xl py-12 px-4 text-center sm:px-6 lg:py-16 lg:px-8">
    <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
      <span class="block">Test vandaag nog uw kandidaten.</span>
    </h2>
    <div class="mt-8 flex justify-center">
      <div class="inline-flex rounded-md shadow">
        <a href="/nl/prijs" class="inline-flex items-center justify-center rounded-md border border-transparent bg-gradient-to-r from-amber-800 to-amber-700 px-5 py-3 text-base font-medium text-white hover:bg-indigo-700">Starten</a>
      </div>
    </div>
  </div>
</div>
                <li>
          <div class="space-y-4">
            <div class="aspect-w-3 aspect-h-2">
              <img class="rounded-lg object-cover shadow-lg" src="https://res.cloudinary.com/the-ruby-lab/image/upload/v1664975380/148.Strategy_vhcxss.png" alt="">
            </div>

            <div class="space-y-2">
              <div class="space-y-1 text-lg font-medium leading-6">
                <h3 class="font-semibold">Neem afstand</h3>
                <p class="text-amber-700">Bekijk alles vanop een afstand om de controle te behouden.</p>
              </div>

            </div>
          </div>
        </li>
        

                        <li>
          <div class="space-y-4">
            <div class="aspect-w-3 aspect-h-2">
              <img class="rounded-lg object-cover shadow-lg" src="https://res.cloudinary.com/the-ruby-lab/image/upload/v1664975378/123.Website-builder_t5oxwx.png" alt="">
            </div>

            <div class="space-y-2">
              <div class="space-y-1 text-lg font-medium leading-6">
                <h3 class="font-semibold">Benchmark</h3>
                <p class="text-amber-700">Vergelijk de resultaten van de kandidaten met elkaar.</p>
              </div>

            </div>
          </div>
        </li>
                        <li>
          <div class="space-y-4">
            <div class="aspect-w-3 aspect-h-2">
              <img class="rounded-lg object-cover shadow-lg" src="https://res.cloudinary.com/the-ruby-lab/image/upload/v1664975382/175.Diversity_pdvizf.png" alt="">
            </div>

            <div class="space-y-2">
              <div class="space-y-1 text-lg font-medium leading-6">
                <h3 class="font-semibold">Taaltesten</h3>
                <p class="text-amber-700">Test de professionele taalkennis</p>
              </div>

            </div>
          </div>
        </li>
        
                <div class="bg-white shadow-lg">
  <div class="mx-auto max-w-7xl py-12 px-4 text-center sm:px-6 lg:py-16 lg:px-8">
    <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
      <span class="block">Er is nog veel meer dat Meribas kan.</span>
    </h2>
    <div class="mt-8 flex justify-center">
      <div class="inline-flex rounded-md shadow">
        <a href="/nl/prijs" class="inline-flex items-center justify-center rounded-md border border-transparent bg-gradient-to-r from-amber-800 to-amber-700 px-5 py-3 text-base font-medium text-white hover:bg-indigo-700">Starten</a>
      </div>
    </div>
  </div>
</div>
      </ul>
    </div>
  </div>
</div>
