
<div class="relative overflow-hidden bg-amber-50 pb-10">
  <div class="hidden lg:absolute lg:inset-y-0 lg:block lg:h-full lg:w-full lg:[overflow-anchor:none]">
  </div>
  <div class="relative px-4 sm:px-6 lg:px-8">
    <div class="mx-auto max-w-prose text-lg">
      <h1>
        <span class="block text-center text-lg font-medium text-amber-700">Last update: 10/10/2022</span>
        <span class="mt-2 block text-center text-7xl font-bold leading-8 tracking-tight text-gray-900 sm:text-7xl">Privacy</span>
      </h1>
      <p class="mt-8 text-xl leading-8 text-gray-500">
Dit privacybeleid legt onze inzet uit voor het beschermen van de privacy van uw persoonlijke informatie die we verzamelen via deze website meribas.com (site) of rechtstreeks van u. Dit privacybeleid regelt onze gegevensverzamelings- en gebruikspraktijken en beschrijft uw keuzes met betrekking tot gebruik, toegang en correctie van uw persoonlijke informatie. We creëren en onderhouden een online werkgelegenheidsmarkt die de rolvereisten van werkgevers analyseert en overeenkomt met de geposte profielen van werkzoekenden, en stelt werkgevers in staat om werkzoekenden te selecteren en uit te nodigen om audities door auteurs (diensten) uit te voeren.

Lees dit privacybeleid aandachtig en neem contact met ons op als u vragen heeft.

U verstrekt ons persoonlijke informatie door uw gebruik van de site geeft aan dat u voldoende gelegenheid hebt gehad om toegang te krijgen tot dit privacybeleid en dat u het hebt gelezen en geaccepteerd. Door de site te gebruiken die u erkent en gaat ermee akkoord dat de site een platform biedt om inhoud te plaatsen, inclusief video's, foto's, documenten, bestanden, opmerkingen en andere materialen (geposte inhoud) die in bepaalde omstandigheden met andere gebruikers worden gedeeld voor de doeleinden van de diensten. In deze omstandigheden kunnen andere gebruikers een van uw geposte inhoud zien, in overeenstemming met de algemene voorwaarden van dit privacybeleid en onze gebruiksvoorwaarden.

Als u geen persoonlijke informatie aan ons wilt verstrekken, hoeft u dit niet te doen, maar dit kan van invloed zijn op uw gebruik van deze site of alle producten en diensten die erop worden aangeboden.

Dit privacybeleid is van toepassing op elke persoon die toegang heeft tot de site, inclusief bezoekers, werkzoekenden, werkgevers en auteurs.
    </p>
    </div>
    <div class="prose prose-lg prose-indigo mx-auto mt-6 text-gray-500">
      
      <h2>1. Type verzamelde informatie</h2>
      <p>
          
          Persoonlijke informatie: het type persoonlijke informatie die we verzamelen omvat:
          
          - Persoonlijke identificatie -informatie (bijv. Gebruikersnaam, wachtwoord, e -mailadres, telefoonnummer, locatie en andere persoonlijke informatie in uw profiel);
          - uw geposte inhoud;
          - Communicatie tussen u en andere sitegebruikers die worden gemedieerd via de site en communicatie tussen u en ons.
          
          Als we uw persoonlijke informatie van derden ontvangen, zullen we deze beschermen zoals uiteengezet in dit privacybeleid.
          
          Cookies, logbestandsinformatie, apparaat -identificatiegegevens, metagegevens en vergelijkbare technologie:
          
          Wanneer u de site bezoekt, kunnen we cookies en vergelijkbare technologieën zoals pixels, webbakens, apparaat -identificatiegegevens en lokale opslag gebruiken om informatie te verzamelen over hoe u de site gebruikt. We kunnen ook bepaalde logbestandsinformatie (zoals uw Internet Protocol (""IP"") adres, browsertype, URL's, aantal klikken en hoe u omgaat met links op de site, bestemmingspagina's, bestekte pagina's, bekeken pagina's, en andere dergelijke informatie), kunnen we ook vastleggen) Wanneer u toegang krijgt tot de site. Uw browser meldt automatisch logboekbestandsinformatie telkens wanneer u de site bezoekt.
          
          Als een van uw geposte inhoud metadata bevat (technische gegevens die uw geposte inhoud beschrijven), kunnen we dit verzamelen en behouden.
      </p>
    
      <h2>2. Verzameling en gebruik van persoonlijke informatie</h2>
      <p>

We verzamelen en gebruiken uw persoonlijke informatie zo lang als redelijkerwijs vereist om de services te verlenen, waaronder:

- het beoordelen van de kenmerken van een werkzoeker tegen de vereisten van een werkgever;
- het beoordelen van de geschiktheid van audities en auteurs;
- Potentiële werkzoekenden verbinden met werkgevers en werkgevers met auditie -auteurs;
- het behouden van informatie die uw volgende bezoeken aan de site soepeler en uw toegang sneller zal maken;
- Monitoring van prestatiestatistieken van de site, zoals totaal aantal bezoekers, gebruikersdemografie, websiteverkeer, gebruikersvoorkeuren, enz.;
- Verbeter, test en bewaakt de levering van onze diensten;
- het diagnosticeren en oplossen van technische problemen;
- het ontwikkelen en testen van nieuwe of bijgewerkte producten en functies;
- voorkomen, detecteren, onderzoeken en verzachten van frauduleuze activiteiten.

We verzamelen en gebruiken de persoonlijke informatie ook voor doeleinden, inclusief om contact op te nemen en met u te communiceren, voor interne administratie en voor marketing.
      </p>   
      <h2>3. Openbaarmaking van persoonlijke informatie</h2>
      <p>

We kunnen persoonlijke informatie vrijgeven voor ons dat de diensten verstrekken, en zoals wettelijk vereist. Waar we uw persoonlijke informatie voor deze doeleinden aan derden openbaar maken, zullen we vragen dat de derde partij dit privacybeleid volgt met betrekking tot de omgang met uw persoonlijke informatie.

Geplaatst inhoud die u vrijwillig aan de site bekendmaakt, kan zichtbaar worden voor andere sitegebruikers, in overeenstemming met ons die de services leveren. U kunt de privacy -instellingen wijzigen die van toepassing zijn op uw account; Doe dit als u niet wilt dat uw geposte inhoud in het algemeen zichtbaar is, of voor bepaalde specifieke andere gebruikers.

Onder voorbehoud van de privacy -instellingen die in uw account zijn geselecteerd, is alle geposte inhoud die u bijdraagt ​​door ons te zoeken voor het verlenen van de services en onder voorbehoud van gebruik in overeenstemming met onze gebruiksvoorwaarden.

Kopieën van uw geposte inhoud kunnen zichtbaar blijven in cache en gearchiveerde pagina's van de site, of als andere gebruikers of derden die de site gebruiken die informatie hebben gekopieerd of opgeslagen, zelfs nadat u geposte inhoud hebt verwijderd.

Het kan nodig zijn om uw informatie te delen (inclusief informatie over u die voortkomt uit cookies, logbestanden, apparaat-identificatiegegevens, locatiegegevens en andere vergelijkbare tools) met externe organisaties die ons helpen de service te bieden. Dergelijke serviceproviders krijgen toegang tot uw informatie, zoals redelijkerwijs nodig is om ons in staat te stellen de diensten te verlenen, maar worden onderworpen aan redelijke vertrouwelijkheidsbeperkingen.

We kunnen kandidaten persoonlijke informatie, inclusief locatie, delen met werkgevers om uw identiteit en/of de authenticiteit van uw antwoorden te verifiëren.

We kunnen uw informatie combineren met andere informatie op een manier die niet langer aan u is geassocieerd en die geanonimiseerde gegevens in geaggregeerde vorm delen, met derden voor gegevensanalyse en marketing.

We kunnen informatie over uw interacties op onze website delen met Meribas Partners om hen informatie te verstrekken met betrekking tot hoe Meribas -gebruikers de site 'gebruiken'.

Gebruikers van de site zijn wereldwijd. Daarom kan de openbaarmaking van uw informatie zoals beschreven in dit privacybeleid plaatsvinden in Australië of in een ander rechtsgebied waar gebruikers van de site zich bevinden.
      </p>
      <h2>4. Betalingsinformatie</h2>
      <p>
4. Betalingsinformatie

We verzamelen en verwerken betalingsinformatie van u wanneer u zich abonneert op de Services, inclusief creditcardnummers en factureringsinformatie, met behulp van PCI-compatibele serviceproviders van derden.
      </p>
      <h2>5. Informatie over kinderen</h2>
      <p>
De site is niet bedoeld voor of gericht op kinderen jonger dan 16 jaar, en we verzamelen niet bewust of opzettelijk informatie over kinderen jonger dan 16 jaar.
      </p> 
      <h2>6. Toegang tot en correctie van persoonlijke informatie</h2>
      <p>

Toegang: u kunt details aanvragen van persoonlijke informatie die we over u hebben, in bepaalde omstandigheden uiteengezet in de Privacy Act 1988 (CTH). Een administratieve vergoeding kan verschuldigd zijn voor het verstrekken van informatie. We kunnen weigeren u informatie te verstrekken die wij over u hebben, in bepaalde omstandigheden uiteengezet in de Privacy Act.

Correctie: ervoor zorgen dat uw informatie niet onnauwkeurig, verouderd, onvolledig, irrelevant of misleidend is, is uw verantwoordelijkheid, door het beheer van uw persoonlijke account. Als u echter van mening bent dat we enige onnauwkeurige, verouderde, onvolledige, irrelevante of misleidende informatie over u hebben die u niet kunt bijwerken, neem dan contact met ons op met de livechat op de site of op privacy@meribas.com. We zullen trachten om dergelijke informatie onmiddellijk te corrigeren die als onnauwkeurig, onvolledig of verouderd zijn.
      </p>   
      <h2>7. Klachten over inbreuk</h2>
      <p>

Als u denkt dat we de Europese privacyprincipes hebben overtreden en een klacht willen indienen over die inbreuk, neem dan contact met ons op met de livechat op de site of op hello@meribas.com.
      </p>
      <h2>8. Afmelden</h2>
      <p>

We zijn niet van plan contact met u op te nemen met reguliere elektronische mail-outs, tijdschriften of andere advertenties. We kunnen echter van tijd tot tijd indien nodig contact met u opnemen voor het aanbieden van de op de site beschreven diensten. U kunt zich op elk gewenst moment afmelden door uw meldingsvoorkeuren bij te werken. Er zijn enkele communicatie (bijv. Gerelateerd aan uw accountverificatie of beveiligingsberichten) waar u zich mogelijk niet voor kunt afmelden.
      </p>
      <h2>9. Opslag en beveiliging</h2>
      <p>
De informatie die u via de site verstrekt, kan worden opgeslagen in Europa, de Verenigde Staten van Amerika of in een ander land waar Meribas informatie opslaat. Door je te registreren bij de site, stemt u in met de overdracht van informatie naar Europa, de Verenigde Staten van Amerika of in een ander land waar Meribas informatie opslaat. Houd er rekening mee dat deze locaties mogelijk verschillende wetgeving voor gegevensbescherming hebben voor uw eigen rechtsgebied.

We zijn toegewijd om ervoor te zorgen dat de informatie die u verstrekt veilig is, en als zodanig gebruiken we commercieel redelijke inspanningen om persoonlijke informatie verzameld te houden via de site veilig. Dergelijke inspanningen omvatten het aanvragen van uw gebruikersnaam en wachtwoord om uw identiteit te verifiëren voordat u toegang krijgt tot uw account. We kunnen echter niet de beveiliging van uw persoonlijke informatie garanderen die u kiest om aan de site te verstrekken, of dat uw persoonlijke informatie op de site niet wordt toegankelijk, onthuld, gewijzigd of vernietigd. Het handhaven van het geheim van uw inloggegevens is uw verantwoordelijkheid, help ons door deze informatie niet aan derden bekend te maken en door ervoor te zorgen dat u zich op uw gemak voelt met de privacy -instellingen op uw account."
      </p>
      <h2>10. Updates van het privacybeleid</h2>
      <p>
Bekijk dit privacybeleid van tijd tot tijd, omdat we het periodiek kunnen wijzigen of bijwerken. Uw acceptatie van dergelijke wijzigingen of updates wordt geacht te hebben plaatsgevonden bij uw voortdurende gebruik van de site.
      </p>
   
    </div>
  </div>
</div>

