<!-- This example requires Tailwind CSS v2.0+ -->
<div class="relative overflow-hidden bg-amber-50">

  <div class="relative pb-16 sm:pb-24">

    <main class="mx-auto mt-16 max-w-7xl px-4 sm:mt-10">
      <div class="text-center">
        <h1 class="text-6xl font-bold tracking-tight text-gray-900 sm:text-6xl md:text-8xl">
          <span class="block xl:inline">Laat uw vacatures de juiste kandidaten aantrekken.</span>
        </h1>
        <p class="mx-auto mt-3 max-w-md text-base text-grey-900 sm:text-lg md:mt-5 md:max-w-3xl md:text-xl">Een vacature zonder sollicitaties, niet genoeg kandidaten, onjuiste profielen, ... kortom u heeft meer instroom nodig. Onze unieke oplossing zorgt ervoor dat een vacature een magneet aan kandidaten wordt.</p>
        <div class="mx-auto mt-5 max-w-md sm:flex sm:justify-center md:mt-8">
          <div class="rounded-md shadow">
            <a href="#" class="flex w-full items-center justify-center rounded-md border border-transparent bg-gradient-to-r from-amber-800 to-amber-700 px-8 py-3 text-base font-medium text-white hover:bg-indigo-700 md:py-4 md:px-10 md:text-lg">Vacature lanceren</a>
          </div>
          <div class="mt-3 rounded-md shadow sm:mt-0 sm:ml-3">
            <a href="#" class="flex w-full items-center justify-center rounded-md border border-transparent bg-white px-8 py-3 text-base font-medium text-grey-900 hover:bg-gray-50 md:py-4 md:px-10 md:text-lg">Demo aanvragen</a>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>

<!-- This example requires Tailwind CSS v2.0+ -->
<div class="bg-amber-50">
  <div class="mx-auto max-w-7xl py-16 px-4 sm:py-24 sm:px-6 lg:px-8">
    <div class="text-center">
      <h2 class="text-lg font-semibold text-indigo-600">Pricing</h2>
      <p class="mt-1 text-4xl font-bold tracking-tight text-gray-900 sm:text-5xl lg:text-6xl">Take control of your team.</p>
      <p class="mx-auto mt-5 max-w-xl text-xl text-gray-500">Start building for free, then add a site plan to go live. Account plans unlock additional features.</p>
    </div>
  </div>
</div>
