<div class="relative overflow-hidden bg-amber-50">

  <div class="relative pb-5 sm:pb-10">

    <main class="mx-auto mt-16 max-w-7xl px-4 sm:mt-10">
      <div class="text-center">
        <h1 class="text-5xl font-bold tracking-tight text-gray-900 sm:text-5xl md:text-7xl">
          <span class="block xl:inline">Maak eerste aanwervingen meteen geweldig.</span>
        </h1>
        <p class="mx-auto mt-3 max-w-md text-base text-grey-900 sm:text-lg md:mt-5 md:max-w-3xl md:text-xl">Meribas helpt u toptalent te vinden voor uw groeiende bedrijf met boeiende vaardigheidsbeoordelingen waar kandidaten dol op zijn.</p>
        <div class="mx-auto mt-5 max-w-md sm:flex sm:justify-center md:mt-8">
          <div class="rounded-md shadow">
            <a href="https://s6q6ifh51pn.typeform.com/to/IwbyqeOF" class="flex w-full items-center justify-center rounded-md border border-transparent bg-gradient-to-r from-amber-800 to-amber-700 px-8 py-3 text-base font-medium text-white hover:bg-indigo-700 md:py-4 md:px-10 md:text-xl">Starten</a>
          </div>
          <div class="mt-3 rounded-md shadow sm:mt-0 sm:ml-3">
            <a href="https://s6q6ifh51pn.typeform.com/to/ZbuEqxHg" class="flex w-full items-center justify-center rounded-md border border-transparent bg-white px-8 py-3 text-base font-medium text-grey-900 hover:bg-gray-50 md:py-4 md:px-10 md:text-xl">Demo</a>
          </div>
        </div>
      </div>
                    <img class="mx-auto mt-5 max-w-sm text-xl text-gray-500" src="https://res.cloudinary.com/the-ruby-lab/image/upload/v1664975379/141.Peace_h49jqe.png" alt="App screenshot">
    </main>
    
  </div>
  
</div>

<div class="relative overflow-hidden bg-white pt-16 pb-32">
  <div class="relative">
    <div class="lg:mx-auto lg:grid lg:max-w-7xl lg:grid-flow-col-dense lg:grid-cols-2 lg:gap-24 lg:px-8">
      <div class="mx-auto max-w-xl px-4 sm:px-6 lg:mx-0 lg:max-w-none lg:py-16 lg:px-0">
        <div>
          <div>

          </div>
          <div class="mt-6">
            <h2 class="text-3xl font-bold tracking-tight text-gray-900">Doe het de eerste keer goed.</h2>
            <p class="mt-4 text-lg text-gray-500">Voorkom dure misrekruteringen en neem met vertrouwen beslissingen voor uw kleine bedrijf door de vaardigheden van elke kandidaat te testen en te beoordelen.</p>
            <div class="mt-6">
              <a href="/nl/prijs" class="inline-flex rounded-md border border-transparent bg-gradient-to-r from-amber-800 to-amber-700 px-4 py-2 text-base font-medium text-white shadow-sm hover:bg-indigo-700">Starten</a>
            </div>
          </div>
        </div>
        <div class="mt-8 border-t border-gray-200 pt-6">
          <blockquote>
            <div>
              <p class="text-base text-gray-500">&ldquo;Iedereen wilt talent.&rdquo;</p>
            </div>
            <footer class="mt-3">
              <div class="flex items-center space-x-3">
                <div class="flex-shrink-0">
                  <img class="h-6 w-6 rounded-full" src="https://images.unsplash.com/photo-1509783236416-c9ad59bae472?ixlib=rb-=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=8&w=1024&h=1024&q=80" alt="">
                </div>
                <div class="text-base font-medium text-gray-700">Stephanie Hullens, HR Manager</div>
              </div>
            </footer>
          </blockquote>
        </div>
      </div>
      <div class="mt-12 sm:mt-16 lg:mt-0">
        <div class="-mr-48 pl-4 sm:pl-6 md:-mr-16 lg:relative lg:m-0 lg:h-full lg:px-0">
          <img class="w-full bg-amber-50 rounded-xl shadow-xl ring-1 ring-black ring-opacity-5 lg:absolute lg:left-0 lg:h-full lg:w-auto lg:max-w-none" src="https://res.cloudinary.com/the-ruby-lab/image/upload/v1664975375/93.Headache_qrcsd3.png" alt="Inbox user interface">
        </div>
      </div>
    </div>
  </div>
  <div class="mt-24">
    <div class="lg:mx-auto lg:grid lg:max-w-7xl lg:grid-flow-col-dense lg:grid-cols-2 lg:gap-24 lg:px-8">
      <div class="mx-auto max-w-xl px-4 sm:px-6 lg:col-start-2 lg:mx-0 lg:max-w-none lg:py-32 lg:px-0">
        <div>
          <div>

          </div>
          <div class="mt-6">
            <h2 class="text-3xl font-bold tracking-tight text-gray-900">Verlaag kosten en administratie</h2>
            <p class="mt-4 text-lg text-gray-500">Ga verder dan video-interviews. Eén assessment kan een reeks vaardigheden testen, waaronder technische of softwarespecifieke, zodat u meerdere fasen van uw wervingsproces kunt vervangen, waardoor u tijd en geld bespaart.</p>
            <div class="mt-6">
              <a href="/nl/prijs" class="inline-flex rounded-md border border-transparent bg-gradient-to-r from-amber-800 to-amber-700 px-4 py-2 text-base font-medium text-white shadow-sm hover:bg-indigo-700">Starten</a>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-12 sm:mt-16 lg:col-start-1 lg:mt-0">
        <div class="-ml-48 pr-4 sm:pr-6 md:-ml-16 lg:relative lg:m-0 lg:h-full lg:px-0">
          <img class="w-full bg-amber-50 rounded-xl shadow-xl ring-1 ring-black ring-opacity-5 lg:absolute lg:left-0 lg:h-full lg:w-auto lg:max-w-none" src="https://res.cloudinary.com/the-ruby-lab/image/upload/v1664975368/17.Location_kkj1sq.png" alt="Inbox user interface">
        </div>
      </div>
    </div>
  </div>
</div>


<div class="bg-gradient-to-r from-amber-800 to-amber-700">
  <div class="mx-auto max-w-2xl py-16 px-4 text-center sm:py-20 sm:px-6 lg:px-8">
    <h2 class="text-3xl font-bold tracking-tight text-white sm:text-4xl">
      <span class="block">Test kandidaten, vergelijk de resultaten en rekruteer de beste.</span>
    </h2>
    <p class="mt-4 text-lg leading-6 text-white">Een succesvolle aanwerving heeft kandidaten nodig. Dit doe je door jouw vacature maximale visibiliteit te geven.</p>
    <a href="/nl/prijs" class="mt-8 inline-flex w-full items-center justify-center rounded-md border border-transparent bg-white px-5 py-3 text-base font-medium text-gray-900 sm:w-auto hover:bg-gray-50">Start vandaag nog</a>
  </div>
</div>



