<div class="relative overflow-hidden bg-amber-50">

  <div class="relative pb-5 sm:pb-10">

    <main class="mx-auto mt-16 max-w-7xl px-4 sm:mt-10">
      <div class="text-center">
        <h1 class="text-5xl font-bold tracking-tight text-gray-900 sm:text-5xl md:text-7xl">
          <span class="block xl:inline">Hoe wordt Meribas dagelijks gebruikt?</span>
        </h1>
        <p class="mx-auto mt-3 max-w-md text-base text-grey-900 sm:text-lg md:mt-5 md:max-w-3xl md:text-xl">We helpen bedrijven te zien hoe kandidaten werkgerelateerde taken uitvoeren, zodat ze wervingsbeslissingen kunnen nemen op basis van prestaties. Meribas is inzetbaar voor elke vacature, voor elk bedrijf en in elke sector.</p>
        <div class="mx-auto mt-5 max-w-md sm:flex sm:justify-center md:mt-8">
          <div class="rounded-md shadow">
            <a href="https://s6q6ifh51pn.typeform.com/to/IwbyqeOF" class="flex w-full items-center justify-center rounded-md border border-transparent bg-gradient-to-r from-amber-800 to-amber-700 px-8 py-3 text-base font-medium text-white hover:bg-indigo-700 md:py-4 md:px-10 md:text-xl">Starten</a>
          </div>
          <div class="mt-3 rounded-md shadow sm:mt-0 sm:ml-3">
            <a href="https://s6q6ifh51pn.typeform.com/to/ZbuEqxHg" class="flex w-full items-center justify-center rounded-md border border-transparent bg-white px-8 py-3 text-base font-medium text-grey-900 hover:bg-gray-50 md:py-4 md:px-10 md:text-xl">Demo</a>
          </div>
        </div>
      </div>
                    <img class="mx-auto mt-5 max-w-sm text-xl text-gray-500" src="https://res.cloudinary.com/the-ruby-lab/image/upload/v1664975376/108.Increase_n79jd9.png" alt="App screenshot">
    </main>
    
  </div>
  
</div>

<div class="container mx-auto max-w-xl pb-10">
    <div class="flex">
      <div class="mr-4 flex-shrink-0">
      </div>
      <div>
          <div class="border-2 p-3 border-amber-700 shadow-xl">
        <h4 class="text-4xl font-bold">STAP 1</h4>
        <p class="mt-1">Maak een test op maat of gebruik één van de testen uit <a href="nl/comingsoon" class="font-semibold underline text-blue-600">het Meribas bibliotheek.</a></p>
            </div>
        <div class="mt-6 flex">
          <div class="mr-4 flex-shrink-0">

          </div>
          <div>
            <h4 class="text-lg font-bold">Bibliotheek</h4>
            <p class="mt-1">Meribas biedt een uitgebreide bibliotheek met tests die veel werkspecifieke vaardigheden dekken waar veel vraag naar is. Selecteer eenvoudig de relevante vaardigheden om te testen, en de vereiste moeilijkheidsgraad, en voeg deze toe aan uw beoordeling.</p>
          </div>
        </div>
        <div class="mt-6 flex">
          <div class="mr-4 flex-shrink-0">

          </div>
          <div>
            <h4 class="text-lg font-bold">Leuke ervaring voor kandidaten</h4>
            <p class="mt-1">Onze tests zijn ontworpen om kandidaten een plezierige ervaring te bieden. We willen dat ze gemotiveerd en aangemoedigd worden om de toetsen te maken en af te maken.</p>
          </div>
        </div>
      </div>
    </div>
</div>

    <img class="mx-auto max-w-sm text-xl text-gray-500" src="https://res.cloudinary.com/the-ruby-lab/image/upload/v1664975380/147.Multitasking_pewzb3.png" alt="App screenshot">


<div class="container mx-auto max-w-xl pb-10">
    
    <div class="flex">
      <div class="mr-4 flex-shrink-0">
      </div>
      <div>
          <div class="border-2 p-3 border-amber-700 shadow-lg">
        <h4 class="text-4xl font-bold">STAP 2</h4>
        <p class="mt-1">Kies de gewenste <a href="nl/comingsoon" class="font-semibold underline text-blue-600">kandidaten uit de instroom van sollicitaties</a> nodig ze uit via mail of sms-bericht.</p>
            </div>
        <div class="mt-6 flex">
          <div class="mr-4 flex-shrink-0">

          </div>
          <div>
            <h4 class="text-lg font-bold">Meribas Sourcing</h4>
            <p class="mt-1">Een vacature zonder sollicitaties, niet genoeg kandidaten, onjuiste profielen, ... kortom u heeft meer instroom nodig. Onze unieke oplossing zorgt ervoor dat een vacature een magneet aan kandidaten wordt.</p>
          </div>
        </div>
        <div class="mt-6 flex">
          <div class="mr-4 flex-shrink-0">

          </div>
          <div>
            <h4 class="text-lg font-bold">Stuur de test naar kandidaten</h4>
            <p class="mt-1">Automatiseer uitnodigingen voor kandidaten via ons dashboard. Nooit meer schakelen tussen tools, handmatig uitnodigingen beheren of uitzoeken wie heeft gereageerd. Onze interface geeft u realtime feedback voor eenvoudiger beheer.</p>
          </div>
        </div>
      </div>
    </div>
</div>

    <img class="mx-auto max-w-sm text-xl text-gray-500" src="https://res.cloudinary.com/the-ruby-lab/image/upload/v1664975373/78.Virtual-reality_vshwts.png" alt="App screenshot">


<div class="container mx-auto max-w-xl pb-10">
    <div class="flex">
      <div class="mr-4 flex-shrink-0">
      </div>
      <div>
          <div class="border-2 p-3 border-amber-700 shadow-lg">
        <h4 class="text-4xl font-bold">STAP 3</h4>
        <p class="mt-1">Laat de resultaten binnenstromen en verbeter waar nodig.</p>
            </div>
        <div class="mt-6 flex">
          <div class="mr-4 flex-shrink-0">

          </div>
          <div>
            <h4 class="text-lg font-bold">Hoge volume kandidaten testen</h4>
            <p class="mt-1">VSchaal teams sneller en betrouwbaarder met geautomatiseerde tests en vergroot uw capaciteit om grote hoeveelheden kandidaten te beoordelen. U of uw team hoeven zich niet langer overweldigd te voelen door de taak van werving.</p>
          </div>
        </div>
        <div class="mt-6 flex">
          <div class="mr-4 flex-shrink-0">

          </div>
          <div>
            <h4 class="text-lg font-bold">Anti-fraude</h4>
            <p class="mt-1">Elimineer valsspelen door randomisatie van vragen die automatisch de beoordelingsvragen en antwoorden roteren, zodat kandidaten altijd een andere volgorde zien.</p>
          </div>
        </div>
      </div>
    </div>
</div>

    <img class="mx-auto max-w-sm text-xl text-gray-500" src="https://res.cloudinary.com/the-ruby-lab/image/upload/v1664975375/99.Report_y9onx5.png" alt="App screenshot">


<div class="container mx-auto max-w-xl pb-10">
    <div class="flex">
      <div class="mr-4 flex-shrink-0">
      </div>
      <div>
          <div class="border-2 p-3 border-amber-700 shadow-lg">
        <h4 class="text-4xl font-bold">STAP 4</h4>
        <p class="mt-1">Vergelijk de resultaten van de kandidaten in de benchmark.</p>
            </div>
        <div class="mt-6 flex">
          <div class="mr-4 flex-shrink-0">

          </div>
          <div>
            <h4 class="text-lg font-bold">Testresultaten</h4>
            <p class="mt-1">Volg de voortgang van uw testen in realtime en bekijk de best presterende kandidaten. Met diepere inzichten in vaardigheden en bekwaamheden kunt u individuen vergelijken en het inhuren van de beste mensen eenvoudig maken.</p>
          </div>
        </div>
        <div class="mt-6 flex">
          <div class="mr-4 flex-shrink-0">

          </div>
          <div>
            <h4 class="text-lg font-bold">Bespreek de resultaten met het team.</h4>
            <p class="mt-1">Geen eindeloze heen en weer communicatie met teamleden meer. Nodig onbeperkt teamleden uit. Deel eenvoudig de resultaten van kandidaten met uw team en blijf op dezelfde golflengte.</p>
          </div>
        </div>
      </div>
    </div>
</div>

    <img class="mx-auto max-w-sm text-xl text-gray-500" src="https://res.cloudinary.com/the-ruby-lab/image/upload/v1664975374/85.Having-fun_sjl81w.png" alt="App screenshot">


<div class="container mx-auto max-w-xl pb-20">
    <div class="flex">
      <div class="mr-4 flex-shrink-0">
      </div>
      <div>
          <div class="border-2 p-3 border-amber-700 shadow-lg">
        <h4 class="text-4xl font-bold">STAP 5</h4>
        <p class="mt-1">Maak een lijst van definitieve kandidaten voor finale interviews.</p>
            </div>
        <div class="mt-6 flex">
          <div class="mr-4 flex-shrink-0">

          </div>
          <div>
            <h4 class="text-lg font-bold">Finale kandidaten</h4>
            <p class="mt-1">Nu u weet wie de beste kandidaten zijn, kunt u zich richten op diepte-interviews voor uw laatste beoordelingsronde. De tijd die je hebt bespaard kun je nu besteden aan de kandidaten die tellen!</p>
          </div>
        </div>
        <div class="mt-6 flex">
          <div class="mr-4 flex-shrink-0">

          </div>
          <div>
            <h4 class="text-lg font-bold">Geld en tijd bespaard</h4>
            <p class="mt-1">Het was nog nooit zo eenvoudig om weloverwogen gedetailleerde wervingsbeslissingen op grote schaal te nemen. Meribas levert de informatie die u nodig heeft, snel en nauwkeurig voor minder geld. Klaar voor een stressvrij te rekruteren?</p>
          </div>
        </div>
      </div>
    </div>
</div>

<div class="bg-gradient-to-r from-amber-800 to-amber-700">
  <div class="mx-auto max-w-2xl py-16 px-4 text-center sm:py-20 sm:px-6 lg:px-8">
    <h2 class="text-3xl font-bold tracking-tight text-white sm:text-4xl">
      <span class="block">Test kandidaten, vergelijk de resultaten en rekruteer de beste.</span>
    </h2>
    <p class="mt-4 text-lg leading-6 text-white">Een succesvolle aanwerving heeft kandidaten nodig. Dit doe je door jouw vacature maximale visibiliteit te geven.</p>
    <a href="/nl/prijs" class="mt-8 inline-flex w-full items-center justify-center rounded-md border border-transparent bg-white px-5 py-3 text-base font-medium text-gray-900 sm:w-auto hover:bg-gray-50">Start vandaag nog</a>
  </div>
</div>



