<div id="<%= dom_id vacbib %>">

    <strong class="font-medium mb-1"><%= vacbib.category %></strong> - 
    <a href="/vacbibs/<%= vacbib.id %>" class="font-medium mb-1 text-4xl" %> <%= vacbib.title %></a>

</div>
