<div class="mx-auto md:w-2/3 w-full pb-10">
  <h1 class="font-bold text-4xl">New vacbib</h1>

  <%= render "form", vacbib: @vacbib %>

  <%= link_to 'Back to vacbibs', vacbibs_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
